.container
  .row
    .col-md-4.col-md-offset-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title СКУД "Время" - добро пожаловать!
        .panel-body
          = form_tag sessions_path do
            %fieldset
              .form-group
                %label{for: 'username'}
                  Логин
                = text_field_tag :name, params[:name], class: 'form-control', id: 'username'
              .form-group
                %label{for: 'password'}
                  Пароль
                = password_field_tag :password, params[:password], class: 'form-control', id: 'password'
              = submit_tag 'Входъ', class: 'btn btn-success btn-block'
