= form_for @device do |f|
  - if @device.errors.any?
    #error_explanation
      .alert.alert-danger
        - @device.errors.full_messages.each do |message|
          %p
            = message
  .row
    .col-xs-12.col-md-6
      .form-group
        = f.label :hid, 'HID контроллера'
        = f.text_field :hid, class: 'form-control'
    .col-xs-12.col-md-6
      .form-group
        = f.label :user_id, 'Привязать к пользователю'
        = f.select(:user_id, User.all.collect { |u| [u.name, u.id] }, {}, class: 'form-control')






  .form-group
    = f.submit 'Подтвердить изменения', class: 'btn btn-primary'