.row
  .panel.panel-default
    .panel-heading
      Редактировать данные контроллера
    .panel-body
      = render 'form'
  .panel.panel-default
    .panel-heading
      Авторизированные пользователи контроллера
    %table.table
      %thead
        %tr
          %th
            Псевдоним
          %th
            ФИО
          %th
            Действия
      %tbody
        - @users.each do |user|
          %tr
            %th
              = user.name
            %th
              = user.nickname
            %th
              = link_to 'Удалить', user_device_path(user), method: :delete, data: { confirm: 'Уверены?' }, class: 'btn btn-danger'

