.row
  .panel.panel-default
    .panel-heading
      Список контроллеров
    %table.table
      %thead
        %tr
          %th
            HID контроллера
          %th
            RandomID
          %th
            Пользователи
          %th
            Действия
      %tbody
        - @devices.each do |device|
          %tr
            %th
              = device.hid
            %th
              = device.randomid
            %th
              = collection_select(:user, :user_id, device.users.all, :name, :name, {}, class: 'form-control')
            %th
              = link_to 'Редактировать', edit_device_path(device), class: 'btn btn-default'
              = link_to 'Удалить', device_path(device), method: :delete, data: { confirm: 'Уверены?' }, class: 'btn btn-danger'
