= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      .alert.alert-danger
        - @user.errors.full_messages.each do |message|
          %p
            = message
  .form-group
    = f.label :name, 'Псевдоним'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :nickname, 'ФИО'
    = f.text_field :nickname, class: 'form-control'
  .form-group
    = f.label :password, 'Пароль'
    = f.text_field :password, class: 'form-control'
  .form-group
    = label_tag :role, 'Привилегии'
    = collection_select :role, :role_name, Role.all, :name, :name, {}, {class: 'form-control'}

  .form-group
    = f.submit 'Подтвердить изменения', class: 'btn btn-primary'