.row
  .panel.panel-default
    .panel-heading
      Пользователи
    %table.table
      %thead
        %tr
          %th
            Псевдоним
          %th
            ФИО
          %th
            Последнее действие
          %th
            Роль
          %th
            Действия
      %tbody
        - @users.each do |user|
          %tr
            %th
              = user.name
            %th
              = user.nickname
            %th
              = l(user.updated_at, format: '%a, %d %B %Y, %H:%M:%S')
            -#%th
            -#  = User.total_hours_today(user.checkpoints)
            %th
              .label.label-default
                = user.roles.first.name
            %th
              = link_to 'Редактировать', edit_user_path(user), class: 'btn btn-default'
              = link_to 'Удалить', user_path(user), method: :delete, data: { confirm: 'Уверены?' }, class: 'btn btn-danger'
