%script
  var checkpoints = #{raw @checkpoints.to_json}

.panel.panel-default
  .panel-heading
    Информация о пользователе
    = current_user.name
  .panel-body
    %table.table.table-striped
      %thead
        %tr
          %th
            Полное имя
          %th
            Роль
          %th
            Отработанное время
      %tbody
        %tr
          %td
            = @user.nickname
          %td
            .label.label-default
              = @user.roles.first.name
          %td
            = Time.parse(User.total_hours_today(@user.checkpoints)).strftime('%Hч. %Mм. %Sс.')

    %canvas#mChart{width: '600', height: '200'}
