- if !params[:search_input].empty?
  - flash[:notice] = "Результат поиска по запросу #{params[:search_input]}"
  %table.table

    %tr
      %th
        Псевдоним
      %th
        ФИО
      %th
        Последнее действие
      %th
        Роль
      %th
        Действия
    %tbody
      - @results.each do |user|
        %tr
          %th
            = user.name
          %th
            = user.nickname
          %th
            = l(user.updated_at, format: '%a, %d %B %Y, %H:%M:%S')
          %th
            .label.label-default
              = user.roles.first.name
          %th
            .form-group-vertical
              .btn-group-vertical
                = link_to 'Вошёл', intro_path(user), method: :post, class: 'btn btn-default', disabled: user.online
                = link_to 'Вышёл', outro_path(user), method: :post, class: 'btn btn-default', disabled: !user.online
- else
  - flash[:notice] = "Поиск не дал результатов"