.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Поиск пользователя
      .panel-body
        .form-inline
        = form_tag root_path, method: 'get',  class: 'input-group', remote: true do
          .form-group
            = text_field_tag :search_input, params[:search_input], class: 'form-control'
          %span.input-group-btn
            = submit_tag 'Найти', name: nil, class: 'btn btn-default'
        .form-group
          #render_results
            = render 'results' if params[:search_input]

  .col-md-6
    .panel.panel-default
      .panel-heading
        Сводка о последних изменениях
      .panel-body
        %table.table.table-responsive
          %tr
            %th
              Псевдоним
            %th
              ФИО
            %th
              Последнее действие
            %th
              Статус
            %th
              Отработано сегодня
            %th
              Действие
          %tbody
            - @last_changed_users.each do |user|
              %tr
                %th
                  = user.name
                %th
                  = user.nickname
                %th
                  = l(user.updated_at, format: '%a, %d %B %Y, %H:%M:%S')
                %th
                  - if user.online
                    .label.label-success
                      На месте
                  - else
                    .label.label-danger
                      Ушёл
                %th
                  = User.total_hours_today(user.checkpoints)
                %th
                  .form-group-vertical
                    .btn-group-vertical
                      = link_to 'Вошёл', intro_path(user), method: :post, class: 'btn btn-default', disabled: user.online
                      = link_to 'Вышёл', outro_path(user), method: :post, class: 'btn btn-default', disabled: !user.online