!!!
%html
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Служба "Время" - авторизация
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - flash.each do |name, message|
    - alert = 'alert alert-info'
    - alert = 'alert alert-danger' if name == 'alert'
      = content_tag :div, message, class: "#{alert}", id: 'flash'
    = yield
